{% extends "base.html.twig" %}

{% block body %}
	{% if error %}
		<p class="text-danger">{{error.messageKey}}</p>
	{% endif %}

	<form method="POST">
		<label for="username">Nom d'utilisateur</label>
		<input type="text" name="_username" id="username" value={{last_username}} class="form-control" placeholder="Votre nom d'utilisateur">
		<label for="password">Mot de passe</label>
		<input type="password" name="_password" id="password" class="form-control" placeholder="Votre mot de passe">
		<input type="submit" value="Se connecter" class="btn btn-primary">
	</form>

	<a href="/user/create">Pas de compte ? Créez un compte utilisateur !</a>
{% endblock %}
