section {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.container img {
  width: 420px;
}

.text {
  display: block;
  padding: 40px;
  width: 450px;
}

.text h1 {
  color: #00c2cb;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text p {
  font-size: 15px;
  color: #00c2cb;
  margin-bottom: 15px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.home-link {
  display: flex;
  font-size: 1rem;
  color: #00c2cb;
  transition: 0.1s;
}
@media screen and(max-width:600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .text,
  .image {
    width: 100%;
  }
  .container {
    min-width: 200px;
    padding: 40px 0;
  }
  .text {
    display: block;
    width: 100%;
    padding: 20px 40px;
  }
  .image {
    display: flex;
    width: 200px;
    align-self: center;
    justify-content: center;
    margin: auto;
  }
}
