{% extends "base.html.twig" %}
{% import "macros/alert.html.twig" as alert %}
{% import "macros/list-card.html.twig" as listCard %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<h1>Mes listes</h1>
	{% for label, messages in app.flashes %}
		{% for msg in messages %}
			{{alert.alert(msg, label)}}
		{% endfor %}
	{% endfor %}

	<p>
		Mes
		{{lists|length}}
		listes de tâches :
	</p>

	<div class=" d-flex justify-content-between ">
		{% for list in lists %}
			{{listCard.listCard(list, true)}}
		{% endfor %}
	</div>
{% endblock %}
