{% extends "base.html.twig" %}
{% import "macros/list-card.html.twig" as listCard %}

{% block title %}
	{{parent()}}
	{{list}}
{% endblock %}
{% block body %}
	<h1>Ma liste
		{{list}}</h1>
	{{listCard.listCard(list, false)}}

{% endblock %}
